<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/portalTemplate}">
  <head>
    <title>Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-3">
          <div class="card card-body mb-3 mb-lg-5">
            <form class="row" th:action="@{/portal/profile/settings/change-password}" method="post" th:object="${cpm}">
              <div class="col-12 mb-3">
                <label for="currentPasswordInput" class="form-label required"
                       th:text="#{portal.profile.settings.changepassword.currentpassword}">Current password</label>
                <input type="password" class="form-control" id="currentPasswordInput" autofocus="autofocus"
                       th:field="*{currentPassword}" th:classappend="${#fields.hasErrors('currentPassword')} ? 'is-invalid'"/>
                <span class="invalid-feedback" th:errors="*{currentPassword}">Error</span>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="newPasswordInput" class="form-label required"
                       th:text="#{portal.profile.settings.changepassword.newpassword}">New password</label>
                <input type="password" class="form-control" id="newPasswordInput"
                       th:field="*{newPassword}" th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid'"/>
                <span class="invalid-feedback" th:errors="*{newPassword}">Error</span>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="confirmPasswordInput" class="form-label required"
                       th:text="#{portal.profile.settings.changepassword.confirmpassword}">Confirm password</label>
                <input type="password" class="form-control" id="confirmPasswordInput"
                       th:field="*{confirmPassword}" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"/>
                <span class="invalid-feedback" th:errors="*{confirmPassword}">Error</span>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary">
                  <span class="material-symbols-rounded">save</span>
                  <span th:text="#{portal.profile.settings.changepassword.changepassword}">Change password</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>