<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/portalTemplate}">
  <head>
    <title th:text="#{app.title(#{app.portal.title(#{portal.atc.sessionshistory.title})})}">Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row" th:if="${#lists.isEmpty(controllerSessions)}">
        <div class="col-12">
          <div class="h4 fst-italic" th:text="#{portal.atc.sessionshistory.notfound}">No controller sessions found.</div>
        </div>
      </div>

      <div class="row" th:if="${!#lists.isEmpty(controllerSessions)}">
        <div class="col-12">
          <div class="card">
            <div class="card-header" th:with="controllerSessionsCount=${#lists.size(controllerSessions)}">
              <div class="h4 mb-0" th:text="#{portal.atc.sessionshistory.controllersessions}">Controller's sessions</div>
              <div class="text-muted" th:if="${controllerSessionsCount eq 1}" th:text="#{portal.atc.sessionshistory.sessionsfound.1}">1 session found</div>
              <div class="text-muted" th:if="${controllerSessionsCount gt 1}" th:text="#{portal.atc.sessionshistory.sessionsfound.n(${#numbers.formatInteger(controllerSessionsCount, 0, 'WHITESPACE')})}">10 sessions found</div>
            </div>
            <div class="card-body">
              <table class="table table-hover table-striped mb-0">
                <thead>
                  <tr>
                    <td class="fw-bold" th:text="#{portal.atc.sessionshistory.no}">No.</td>
                    <th class="fw-bold" th:text="#{portal.atc.sessionshistory.position}">Position</th>
                    <th class="fw-bold" th:text="#{portal.atc.sessionshistory.rating}">Rating</th>
                    <th class="fw-bold" th:text="#{portal.atc.sessionshistory.server}">Server</th>
                    <th class="fw-bold" th:text="#{portal.atc.sessionshistory.sessionstarted}">Session started</th>
                    <th class="fw-bold" th:text="#{portal.atc.sessionshistory.sessionended}">Session ended</th>
                    <th class="fw-bold" th:text="#{portal.atc.sessionshistory.totaltime}">Total time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="cs, iterStat : ${controllerSessions}">
                    <td th:text="${iterStat.count}">No.</td>
                    <td th:text="${cs.position}"></td>
                    <td th:text="#{members.member.atc. + ${#strings.toLowerCase(cs.atcRatingSymbol)}}"></td>
                    <td th:text="${cs.server}"></td>
                    <td th:text="${#dates.format(cs.sessionStarted, 'dd.MM.yyyy, HH:mm')}"></td>
                    <td th:text="${#dates.format(cs.sessionEnded, 'dd.MM.yyyy, HH:mm')}"></td>
                    <td th:text="${cs.calculatedTimeOnline}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>