<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title>Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-3">
          <div>New ATC reservation</div>

          <!--<div class="col-md-6 mb-5 mb-md-0">-->

          <form th:action="@{/atc-reservations/create}" method="post" th:object="${carm}">
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <label for="fromTimeInput" class="form-label required">Start time</label>
                <input type="text" class="form-control flatpick flatpickr-input" data-flatpickr="" id="fromTimeInput" readonly="readonly"
                       th:field="*{startTime}"/>
                <!--<span class="invalid-feedback">Error</span>-->
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="toTimeInput" class="form-label required">End time</label>
                <input type="text" class="form-control flatpick flatpickr-input" data-flatpickr="" id="toTimeInput" readonly="readonly"
                       th:field="*{endTime}"/>
                <!--<span class="invalid-feedback">Error</span>-->
              </div>
              
              <div class="col-12 mb-3">
                <label for="positionInput" class="form-label required">Position</label>
                <select id="positionInput" class="form-control"
                        th:field="*{position}">
                  <option th:each="ap : ${authorizedPositions}" th:value="${ap.position}" th:text="#{positions. + ${#strings.toLowerCase(ap.position)}}">Position</option>
                </select>
                <!--<span class="invalid-feedback">Error</span>-->
              </div>

              <div class="col-12 mb-3" sec:authorize="hasRole('STAFF_TRAINING')">
                <label for="typeInput" class="form-label required">Type</label>
                <select id="typeInput" class="form-control"
                        th:field="*{type}">
                  <option value="n">Normal</option>
                  <option value="t">Training</option>
                </select>
                <!--<span class="invalid-feedback">Error</span>-->
              </div>

              <div class="col-12 mb-3">
                <!--<button type="submit" class="btn btn-accent" th:text="#{atc.application.form.submit}">Submit</button>-->
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let todayText = /*[[#{calendar.today}]]*/;

        let calendarEvents = /*[[#{language.current}]]*/;
                let aux = /*[[@{/}]]*/;
        /*]]>*/

        let config = {
          defaultDate: "today",
          minDate: "today",
          maxDate: new Date().fp_incr(7),
          hourIncrement: 1,
          minuteIncrement: 15,
          dateFormat: 'd.m.Y H:i\\z',
          enableTime: true,
          time_24hr: true,
          locale: calendarEvents,
          firstDayOfWeek: 1
        };

        $(".flatpick").flatpickr(config);
      </script>
    </div>
  </body>
</html>