<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{calendar.reservation.create.title})}">Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-3">

          <form th:action="@{/atc-reservations/create}" method="post" th:object="${carm}">
            <div class="row">

              <div class="col-12 mb-3" th:if="${hasErrors}">
                <div class="alert alert-danger mb-0" th:text="${error}">Error</div>
              </div>

              <div class="col-12 col-md-6 mb-3">
                <label for="fromTimeInput" class="form-label required" th:text="#{calendar.reservation.create.starttime}">Start time</label>
                <input id="flatpickFromDateTimeInput" type="text" class="form-control flatpick flatpickr-input" data-flatpickr="" readonly="readonly"
                       th:field="*{startTime}" th:classappend="${#fields.hasErrors('startTime')} ? 'is-invalid'"/>
                <span class="invalid-feedback" th:errors="*{startTime}">Error</span>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="toTimeInput" class="form-label required" th:text="#{calendar.reservation.create.endtime}">End time</label>
                <input id="flatpickToDateTimeInput" type="text" class="form-control flatpick flatpickr-input" data-flatpickr="" readonly="readonly"
                       th:field="*{endTime}" th:classappend="${#fields.hasErrors('endTime')} ? 'is-invalid'"/>
                <span class="invalid-feedback" th:errors="*{endTime}">Error</span>
              </div>

              <div class="col-12 mb-3">
                <label for="positionInput" class="form-label required" th:text="#{calendar.reservation.create.position}">Position</label>
                <select id="positionInput" class="form-control"
                        th:field="*{position}" th:classappend="${#fields.hasErrors('position')} ? 'is-invalid'">

                  <optgroup th:label="#{calendar.reservation.create.position.control}" th:if="${canControl.canControlAnyControl}">
                    <option th:each="ap : ${authorizedPositions}" th:if="${ap.position.contains('CTR')}" th:value="${ap.position}" th:text="#{positions. + ${#strings.toLowerCase(ap.position)}}">Position</option>
                  </optgroup>
                  <optgroup th:label="#{calendar.reservation.create.position.sofia}" th:if="${canControl.canControlAnySofia}">
                    <option th:each="ap : ${authorizedPositions}" th:if="${ap.position.contains('LBSF')}" th:value="${ap.position}" th:text="#{positions. + ${#strings.toLowerCase(ap.position)}}">Position</option>
                  </optgroup>
                  <optgroup th:label="#{calendar.reservation.create.position.varna}" th:if="${canControl.canControlAnyVarna}">
                    <option th:each="ap : ${authorizedPositions}" th:if="${ap.position.contains('LBWN')}" th:value="${ap.position}" th:text="#{positions. + ${#strings.toLowerCase(ap.position)}}">Position</option>
                  </optgroup>
                  <optgroup th:label="#{calendar.reservation.create.position.burgas}" th:if="${canControl.canControlAnyBurgas}">
                    <option th:each="ap : ${authorizedPositions}" th:if="${ap.position.contains('LBBG')}" th:value="${ap.position}" th:text="#{positions. + ${#strings.toLowerCase(ap.position)}}">Position</option>
                  </optgroup>
                  <optgroup th:label="#{calendar.reservation.create.position.others}" th:if="${canControl.canControlAnyOthers}">
                    <option th:each="ap : ${authorizedPositions}" th:if="${ap.position.contains('LBPD') or ap.position.contains('LBGO')}" th:value="${ap.position}" th:text="#{positions. + ${#strings.toLowerCase(ap.position)}}">Position</option>
                  </optgroup>
                </select>
                <span class="invalid-feedback" th:errors="*{position}">Error</span>
              </div>

              <div class="col-12 mb-3" id="typeDiv" sec:authorize="hasRole('STAFF_TRAINING')" th:classappend="${carm.type ne null and carm.type eq 't'} ? 'col-md-6'">
                <label for="typeInput" class="form-label required" th:text="#{calendar.reservation.create.type}">Type</label>
                <select id="typeInput" class="form-control"
                        th:field="*{type}">
                  <option value="n" th:text="#{calendar.reservation.create.type.normal}">Normal</option>
                  <option value="t" th:text="#{calendar.reservation.create.type.training}">Training</option>
                </select>
                <!--<span class="invalid-feedback">Error</span>-->
              </div>

              <div class="col-12 col-md-6 mb-3" id="traineeCidDiv" sec:authorize="hasRole('STAFF_TRAINING')" th:classappend="${carm.type ne null and carm.type eq 't'} ? '' : 'd-none'">
                <label for="traineeCidInput" class="form-label required" th:text="#{calendar.reservation.create.traineecid}">Trainee CID</label>
                <input id="traineeCidInput" type="text" pattern="\d*" maxlength="7" class="form-control"
                       th:field="*{traineeCid}" th:classappend="${#fields.hasErrors('traineeCid')} ? 'is-invalid'"/>
                <span class="invalid-feedback mt-0" th:errors="*{traineeCid}">Error</span>
                <div id="traineeCidValue" class="form-text">-</div>
              </div>

              <div class="col-12 mb-3">
                <!--<button type="submit" class="btn btn-accent" th:text="#{atc.application.form.submit}">Submit</button>-->
                <button type="submit" class="btn btn-primary">
                  <i class="bi bi-send me-1"></i>
                  <span th:text="#{calendar.reservation.create.submit}">Submit</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let todayText = /*[[#{calendar.today}]]*/;

        let languageCurrent = /*[[#{language.current}]]*/;
                let aux = /*[[@{/}]]*/;
        /*]]>*/

        let configFromDateTime = {
          defaultDate: "today",
          minDate: "today",
          maxDate: new Date().fp_incr(7),
          hourIncrement: 1,
          minuteIncrement: 15,
          dateFormat: 'd.m.Y H:i',
          enableTime: true,
          altInput: true,
          altFormat: "d.m.Y H:i\\z",
          time_24hr: true,
          locale: languageCurrent,
          firstDayOfWeek: 1,
          defaultDate: document.getElementById('flatpickFromDateTimeInput').value || "today"
        };

        let configToDateTime = {
          defaultDate: "today",
          minDate: "today",
          maxDate: new Date().fp_incr(7),
          hourIncrement: 1,
          minuteIncrement: 15,
          dateFormat: 'd.m.Y H:i',
          enableTime: true,
          altInput: true,
          altFormat: "d.m.Y H:i\\z",
          time_24hr: true,
          locale: languageCurrent,
          firstDayOfWeek: 1,
          defaultDate: document.getElementById('flatpickToDateTimeInput').value || "today"
        };

        $("#flatpickFromDateTimeInput").flatpickr(configFromDateTime);
        $("#flatpickToDateTimeInput").flatpickr(configToDateTime);

      </script>

      <script type="text/javascript" th:inline="javascript" sec:authorize="hasRole('STAFF_TRAINING')">
        /*<![CDATA[*/
        let searchTraineeByCidUrl = /*[[@{/atc-reservations/search-trainee/}]]*/;
                let traineeNotFound = /*[[#{calendar.reservation.create.error.traineenotfound}]]*/;
        /*]]>*/
        $('#typeInput').on('change', function () {
          const type = $(this).val();

          if (type === 't') {
            $('#traineeCidDiv').removeClass("d-none");
            $('#typeDiv').addClass("col-md-6");
          } else {
            $('#traineeCidDiv').addClass("d-none");
            $('#typeDiv').removeClass("col-md-6");
          }
          console.log("Selected value: " + selectedValue);
        });

        $('#traineeCidInput').on('input', function () {

          const inputValue = $(this).val().replace(/[^0-9]/g, '');
          $(this).val(inputValue);

          const tci = $(this).val();

          if (tci.length >= 3 && tci.length <= 7) {

            $.ajax({
              url: searchTraineeByCidUrl + tci,
              type: 'get',
              success: function (data)
              {
                console.log("here: " + data);
                if (data === null || data === undefined || data === "") {
                  $('#traineeCidValue').empty().append(traineeNotFound);
                } else {
                  $('#traineeCidValue').empty().append(data);
                }
              },
              error: function (xhr, status, error)
              {
                //                    alert("fail");
              }
            });

          }
        });

      </script>

    </div>
  </body>
</html>