<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/portalTemplate}">
  <head>
    <title th:text="#{app.title(#{app.portal.title(#{portal.dashboard.title})})}">Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-sm-6 col-xl-3 mb-3 mb-lg-5">
          <!--::begin card-->
          <div class="card card-body">
            <!--Title-->
            <h6 class="mb-3">
              <span>Total ATC Sessions</span>
              <span class="material-symbols-rounded ms-2 fs-6 align-middle opacity-75" data-tippy-content="Total sessions as ATC counted from the start of the web application" data-tippy-placement="top">info</span>
            </h6>
            <div class="d-flex lh-1 align-items-center">
              <h4 class="mb-0" th:text="${totalATCSessionsCount}">245</h4>
            </div>
          </div>
          <!--::/end card-->
        </div>
        <div class="col-sm-6 col-xl-3 mb-3 mb-lg-5">
          <!--::begin card-->
          <div class="card card-body">
            <!--Title-->
            <h6 class="mb-3">
              <span>Total events applications</span>
              <span class="material-symbols-rounded ms-2 fs-6 align-middle opacity-75" data-tippy-content="Number of times the user applied for a controller on an event" data-tippy-placement="top">info</span>
            </h6>
            <div class="d-flex lh-1 align-items-center">
              <h4 class="mb-0" th:text="${#numbers.formatInteger(totalUserEventApplications, 0, 'WHITESPACE')}">1 543</h4>
            </div>
          </div>
          <!--::/end card-->
        </div>
        <div class="col-sm-6 col-xl-3 mb-3 mb-lg-5">
          <!--::begin card-->
          <div class="card card-body">
            <!--Title-->
            <h6 class="mb-3">
              <span>Staff count</span>
              <span class="material-symbols-rounded ms-2 fs-6 align-middle opacity-75" data-tippy-content="Users with any Staff role" data-tippy-placement="top">info</span>
            </h6>
            <div class="d-flex lh-1 align-items-center">
              <h4 class="mb-0" th:text="${#numbers.formatInteger(staffCount, 0, 'WHITESPACE')}">5</h4>
            </div>
          </div>
          <!--::/end card-->
        </div>
        <div class="col-sm-6 col-xl-3 mb-3 mb-lg-5">
          <!--::begin card-->
          <div class="card card-body">
            <!--Title-->
            <h6 class="mb-3">
              <span>Users count</span>
              <span class="material-symbols-rounded ms-2 fs-6 align-middle opacity-75" data-tippy-content="Total | Active | Inactive users" data-tippy-placement="top">info</span>
            </h6>
            <div class="d-flex lh-1 align-items-center">
              <h4 class="text-muted mb-0" th:text="${#numbers.formatInteger(usersCount.totalUsers, 0, 'WHITESPACE')}">87</h4>

              <!--vertical line-->
              <div class="vr lh-1 align-self-center opacity-25 mx-3 height-10" style="min-height: auto;"></div>
              <!--::/vertical line-->

              <h4 class="text-success mb-0" th:text="${#numbers.formatInteger(usersCount.activeUsers, 0, 'WHITESPACE')}">87</h4>

              <!--vertical line-->
              <div class="vr lh-1 align-self-center opacity-25 mx-3 height-10" style="min-height: auto;"></div>
              <!--::/vertical line-->

              <h4 class="text-danger mb-0" th:text="${#numbers.formatInteger(usersCount.inactiveUsers, 0, 'WHITESPACE')}">87</h4>
            </div>
          </div>
          <!--::/end card-->
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-3">
          <div class="h3 mb-0">Events</div>
          <hr class="my-2"/>
        </div>

        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Chart Area</h5>
            </div>
            <!--Chart-->
            <div id="chart_area"></div>
          </div>
        </div>
      </div>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let updateTimeUrl = /*[[@{/api/time}]]*/;
                let eventsCountByMonths = /*[[${eventsCountByMonths}]]*/;
                let cptsCountByMonths = /*[[${cptsCountByMonths}]]*/;
                let vasOpsCountByMonths = /*[[${vasOpsCountByMonths}]]*/;
                let aux2 = /*[[@{/}]]*/;
        /*]]>*/

        var cPrimary = "var(--bs-primary)";
        var cSuccess = "var(--bs-success)";

        //Chart Area
        var optionsArea = {
          colors: [cPrimary, cSuccess],
          series: [{
              name: 'Events',
              data: eventsCountByMonths,
            },
            {
              name: 'CPTs',
              data: cptsCountByMonths,
            },
          ],

          chart: {
            type: 'area',
            height: 350,
            fontFamily: 'Inherit',
            toolbar: {
              show: false
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            width: 3,
            curve: 'smooth',
          },
          grid: {
            strokeDashArray: 2,
            padding: {
              left: 16,
              top: 0,
              bottom: 10,
              right: 0
            },
            xaxis: {
              lines: {
                show: true,
              },
            },
            yaxis: {
              lines: {
                show: false,
              },
            },
          },
          labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],

          yaxis: {
            labels: {
              show: true,
              offsetX: 6
            },
          },
          xaxis: {
            tickAmount: 12,
            labels: {
              show: true,
              rotate: 0
            },
            tooltip: {
              enabled: false
            },
            axisTicks: {
              show: false,
            },
            axisBorder: {
              show: false,
            },
          },
          fill: {
            type: 'gradient',
            gradient: {
              opacityFrom: 0.1,
              opacityTo: 0,
              stops: [0, 100]
            }
          },
          tooltip: {
            shared: true,
            intersect: false,
            y: {
              formatter: function (val) {
                return val + ' <span class="fw-normal text-muted"></span>';
              },
            },
          },
          markers: {
            strokeWidth: 5,
            strokeOpacity: 1,
            strokeColors: ['#ffffff', '#ffffff', '#ffffff'],
          },
        };

        var chartArea = new ApexCharts(document.querySelector('#chart_area'), optionsArea);
        chartArea.render();

      </script>
    </div>
  </body>
</html>