<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{calendar.title})}">Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div th:replace="fragments/notify :: #notify"></div>

      <div class="row">
        <div class="col-12 mb-3">

          <div class="d-flex align-items-center mb-4">
            <div class="text-muted" th:text="#{portal.events.calendar.note}">All events are presented in local time in Sofia - (UTC+3 - EEST, UTC+2 EET) time</div>
            <div class="ms-auto">
              <a href="#" th:href="@{/atc-reservations/create}" class="btn btn-success text-white btn-sm" sec:authorize="isAuthenticated()" th:if="${@securityChecks.hasUserAuthorizedPositions(session.loggedUser.cid)}">
                <i class="bi bi-plus-circle me-1"></i>
                <span th:text="#{calendar.makereservation}">Make a reservation</span>
              </a>
            </div>
          </div>

          <!--calendar-->
          <div id="eventsCalendar"></div>
        </div>
      </div>

      <!--App calendar Plugin-->
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let todayText = /*[[#{calendar.today}]]*/;
                let monthText = /*[[#{calendar.month}]]*/;
                let weekText = /*[[#{calendar.week}]]*/;
                let dayText = /*[[#{calendar.day}]]*/;
                let listText = /*[[#{calendar.list}]]*/;

        let currentLanguage = /*[[#{language.current}]]*/;
                let calendarEvents = /*[[${ces}]]*/;
                let aux = /*[[@{/}]]*/;
        /*]]>*/

        var cBlue = "var(--bs-primary)";
        var cYellow = "var(--bs-warning)";
        var cCyan = "var(--bs-info)";
        var cRed = "var(--bs-danger)";
        var cGreen = "var(--bs-success)";
        var cGray = "var(--bs-gray-500)";
        var cDark = "var(--bs-gray-700)";
        var cLight = "var(--bs-gray-100)";

        // Initialize the calendar
        const eventsCalendar = new FullCalendar.Calendar(document.getElementById('eventsCalendar'), {
          events: calendarEvents,
          eventDataTransform: function (event) {
            if (!event.url || event.url === 'null') {
              event.classNames = event.classNames || [];
              event.classNames.push('no-url');
            }
          },
          timeZone: 'UTC',
          expandRows: false,
          aspectRatio: 1.8,
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
          },
          themeSystem: 'bootstrap',
          bootstrapFontAwesome: false,
          locale: currentLanguage,
          firstDay: 1,
          nowIndicator: true,
          weekNumbers: true,
          weekText: "",
          buttonText: {
            today: todayText,
            month: monthText,
            week: weekText,
            day: dayText,
            list: listText,
            prev: '❮',
            next: '❯'
          },
          dayMaxEvents: true, // allow "more" link when too many events
          editable: false,
          droppable: true,
          eventClick: function (info) {
            info.jsEvent.preventDefault(); // don't let the browser navigate

            if (info.event.url === 'null') {
              info.el.classList.add('no-url');
            } else {
              window.open(info.event.url, '_blank');
            }
//            alert('Event: ' + info.event.title);
//            alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
//            alert('View: ' + info.view.type);
          }
        }).render();
      </script>
    </div>
  </body>
</html>