<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{pilots.bgsceneries.title})}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row">
        <div class="col-12 mb-3">
          <p>Here you will find sceneries for the major airports in the LBSF FIR.</p>
        </div>
        <div class="col-lg-12 m-lg-auto">
          <div class="row">
            <div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-5">
              <div class="h4" th:text="#{pilots.bgsceneries.sofia}">LBSF Airport</div>
              <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/p3d_logo.png}" width="30"/>
                  <a href="https://bit.ly/3lawnKG" target="_blank"
                     class="ms-2 text-primary link-underline">Prepar3d/FSX</a>
                </li>
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/xplane-11_logo.png}" width="30"/>
                  <a href="https://forums.x-plane.org/index.php?/files/file/39565-lbsf-sofia-airport/" target="_blank"
                     class="ms-2 text-primary link-underline">X-Plane 11</a>
                </li>
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/msfs-2020_logo.png}" width="30"/>
                  <a href="https://flightsim.to/file/15803/sofia-airport-lbsf" target="_blank"
                     class="ms-2 text-primary link-underline">MSFS 2020</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-5">
              <div class="h4" th:text="#{pilots.bgsceneries.burgas}">LBBG Airport</div>
              <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/p3d_logo.png}" width="30"/>
                  <a href="https://bit.ly/3lcCoXw" target="_blank"
                     class="ms-2 text-primary link-underline">Prepar3d/FSX</a>
                </li>
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/xplane-11_logo.png}" width="30"/>
                  <a href="https://bit.ly/32n9DQs" target="_blank"
                     class="ms-2 text-primary link-underline">X-Plane 11</a>
                </li>
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/msfs-2020_logo.png}" width="30"/>
                  <a href="https://flightsim.to/file/8298/burgas-lbbg" target="_blank"
                     class="ms-2 text-primary link-underline">MSFS 2020</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-5">
              <div class="h4" th:text="#{pilots.bgsceneries.varna}">LBWN Airport</div>
              <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/p3d_logo.png}" width="30"/>
                  <a href="https://secure.simmarket.com/justsim-varna-bulgaria-lbwn-p3d4.phtml" target="_blank"
                     class="ms-2 text-primary link-underline">Prepar3d/FSX</a>
                </li>
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/xplane-11_logo.png}" width="30"/>
                  <a href="https://forums.x-plane.org/index.php?/files/file/61653-varna-airport/&tab=comments" target="_blank"
                     class="ms-2 text-primary link-underline">X-Plane 11</a>
                </li>
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/msfs-2020_logo.png}" width="30"/>
                  <a href="https://flightsim.to/file/1973/varna-airport-lbwn-bulgaria" target="_blank"
                     class="ms-2 text-primary link-underline">MSFS 2020</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-5">
              <div class="h4" th:text="#{pilots.bgsceneries.plovdiv}">LBPD Airport</div>
              <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/p3d_logo.png}" width="30"/>
                  <a href="https://library.avsim.net/esearch.php?DLID=217640&fbclid=IwAR2rGqZahzHx8yK94eOQJ-vY1HEWGA7p6qEMp-6ZHgmcbrVk6i2khFzzJcA" target="_blank"
                     class="ms-2 text-primary link-underline">Prepar3d/FSX</a>
                </li>
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/xplane-11_logo.png}" width="30"/>
                  <a href="https://forums.x-plane.org/index.php?/files/file/70399-plovdiv-airport-lbpd/" target="_blank"
                     class="ms-2 text-primary link-underline">X-Plane 11</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-5">
              <div class="h4" th:text="#{pilots.bgsceneries.gorna}">LBGO Airport</div>
              <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li class="mb-2">
                  <img src="#" th:src="@{/resources/img/simulators/xplane-11_logo.png}" width="30"/>
                  <a href="https://forums.x-plane.org/index.php?/files/file/64892-lbgo/" target="_blank"
                     class="ms-2 text-primary link-underline">X-Plane 11</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>