<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{atc.letterofagreements.title})}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-3">
          <div class="mb-3" th:text="#{atc.letterofagreements.desc}">Letter of agreements</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <table class="table table-hover">
            <thead>
              <tr>
                <th th:text="#{atc.letterofagreements.fir}">FIR</th>
                <th th:text="#{atc.letterofagreements.document}">Document</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>
                    <span th:text="#{atc.letterofagreements.fir.adria}">Adria</span>
                  </div>
                  <ul style="list-style-type: '- ';">
                    <li th:text="#{atc.letterofagreements.fir.adria.beograd}">Beograd (LYBA) FIR</li>
                    <li th:text="#{atc.letterofagreements.fir.adria.skopje}">Skopje (LWSS) FIR</li>
                  </ul>
                </td>
                <td>
                  <div>
                    <a href="#" th:href="@{/resources/loas/loa_adria_sofia_beograde_skopje_v1.pdf}" target="_blank" class="text-primary link-underline" th:text="#{atc.letterofagreements.fir.adria.document}">LoA between Bulgaria and ADRIA</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    <i class="fi fi-tr me-1"></i>
                    <span th:text="#{atc.letterofagreements.fir.turkiye}">Türkiye</span>
                  </div>
                  <ul style="list-style-type: '- ';">
                    <li th:text="#{atc.letterofagreements.fir.turkiye.ankara}">Ankara ACC</li>
                    <li th:text="#{atc.letterofagreements.fir.turkiye.yesilkoy}">Yesilkoy APP</li>
                  </ul>
                </td>
                <td>
                  <div>
                    <a href="#" class="text-primary link-underline" th:href="@{/resources/loas/loa_turkiye_sofia_ankara_v1.pdf}" target="_blank" th:text="#{atc.letterofagreements.fir.turkiye.document.ankara}">LoA between Sofia ACC and Ankara ACC</a>
                  </div>
                  <div>
                    <a href="#" class="text-primary link-underline" th:href="@{/resources/loas/loa_turkiye_sofia_yesilkoy_v1.pdf}" target="_blank" th:text="#{atc.letterofagreements.fir.turkiye.document.yesilkoy}">LoA between Sofia ACC and Yesilkoy APP</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    <i class="fi fi-ro me-1"></i>
                    <span th:text="#{atc.letterofagreements.fir.romania}">Romania</span>
                  </div>
                  <ul style="list-style-type: '- ';">
                    <li th:text="#{atc.letterofagreements.fir.romania.bucharest}">Bucharest (LRBB) FIR</li>
                  </ul>
                </td>
                <td>
                  <div>
                    <a href="#" class="text-primary link-underline" th:href="@{/resources/loas/loa_romania_sofia_bucharest_v1.pdf}" target="_blank" th:text="#{atc.letterofagreements.fir.romania.document}">LoA between Bulgaria and Romania</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    <i class="fi fi-gr me-1"></i>
                    <span th:text="#{atc.letterofagreements.fir.greece}">Greece</span>
                  </div>
                  <ul style="list-style-type: '- ';">
                    <li th:text="#{atc.letterofagreements.fir.greece.makedonia}">Makedonia (LGMD) FIR</li>
                    <li th:text="#{atc.letterofagreements.fir.greece.athina}">Athina (LGGG) FIR</li>
                  </ul>
                </td>
                <td>
                  <div>
                    <a href="#" class="text-primary link-underline" th:href="@{/resources/loas/loa_greece_sofia_athina_makedonia_v1.pdf}" target="_blank" th:text="#{atc.letterofagreements.fir.greece.document}">LoA between Bulgaria and Greece</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>