<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{atc.stations.title})}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-3">
          <div th:text="#{atc.stations.desc}">Here you will find information about air traffic control stations, their callsigns, and current communication frequencies. This information is essential for safe navigation and communication between pilots and controllers.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-3">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="fw-bold" th:text="#{atc.stations.callsign}">Callsign</th>
                <th scope="col" class="fw-bold" th:text="#{atc.stations.frequency}">Frequency</th>
                <th scope="col" class="fw-bold" th:text="#{atc.stations.name}">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="3" class="bg-secondary-subtle">Control</th>
              </tr>
              <tr>
                <th scope="row" class="bg-danger-subtle">LBSR_CTR</th>
                <td class="bg-danger-subtle">131.225</td>
                <td class="bg-danger-subtle">Sofia Control (Main or West Sector)</td>
              </tr>
              <tr>
                <th scope="row" class="bg-danger-subtle">LBSR_E_CTR</th>
                <td class="bg-danger-subtle">129.100</td>
                <td class="bg-danger-subtle">Sofia Control East Sector (High Traffic Loads)</td>
              </tr>
              <tr>
                <th scope="row" class="bg-danger-subtle">LBSR_V_CTR</th>
                <td class="bg-danger-subtle">134.700</td>
                <td class="bg-danger-subtle">Sofia Varna Control (Main or East sector)</td>
              </tr>
              <tr>
                <th scope="row" class="bg-danger-subtle">LBSR_B_CTR</th>
                <td class="bg-danger-subtle">132.950</td>
                <td class="bg-danger-subtle">Sofia Varna East Control (High Traffic Loads)</td>
              </tr>
              <tr>
                <th scope="row" class="bg-danger-subtle">LBSR_I_CTR</th>
                <td class="bg-danger-subtle">130.600</td>
                <td class="bg-danger-subtle">Sofia Information</td>
              </tr>
              <tr>
                <th colspan="3" class="bg-secondary-subtle">Sofia</th>
              </tr>
              <tr>
                <th scope="row" class="bg-warning-subtle">LBSF_APP</th>
                <td class="bg-warning-subtle">123.700</td>
                <td class="bg-warning-subtle">Sofia Approach</td>
              </tr>
              <tr>
                <th scope="row" class="bg-success-subtle">LBSF_TWR</th>
                <td class="bg-success-subtle">118.100</td>
                <td class="bg-success-subtle">Sofia Tower</td>
              </tr>
              <tr>
                <th scope="row" class="bg-info-subtle">LBSF_ATIS</th>
                <td class="bg-info-subtle">126.680</td>
                <td class="bg-info-subtle">Sofia ATIS</td>
              </tr>
              <tr>
                <th colspan="3" class="bg-secondary-subtle">Varna</th>
              </tr>
              <tr>
                <th scope="row" class="bg-warning-subtle">LBWN_APP</th>
                <td class="bg-warning-subtle">124.600</td>
                <td class="bg-warning-subtle">Varna Approach</td>
              </tr>
              <tr>
                <th scope="row" class="bg-success-subtle">LBWN_TWR</th>
                <td class="bg-success-subtle">119.500</td>
                <td class="bg-success-subtle">Varna Tower</td>
              </tr>
              <tr>
                <th scope="row" class="bg-info-subtle">LBWN_ATIS</th>
                <td class="bg-info-subtle">126.880</td>
                <td class="bg-info-subtle">Varna ATIS</td>
              </tr>
              <tr>
                <th colspan="3" class="bg-secondary-subtle">Burgas</th>
              </tr>
              <tr>
                <th scope="row" class="bg-warning-subtle">LBBG_APP</th>
                <td class="bg-warning-subtle">125.100</td>
                <td class="bg-warning-subtle">Burgas Approach</td>
              </tr>
              <tr>
                <th scope="row" class="bg-success-subtle">LBBG_TWR</th>
                <td class="bg-success-subtle">118.000</td>
                <td class="bg-success-subtle">Burgas Tower</td>
              </tr>
              <tr>
                <th scope="row" class="bg-info-subtle">LBBG_ATIS</th>
                <td class="bg-info-subtle">126.980</td>
                <td class="bg-info-subtle">Burgas ATIS</td>
              </tr>
              <tr>
                <th colspan="3" class="bg-secondary-subtle">Plovdiv</th>
              </tr>
              <tr>
                <th scope="row" class="bg-success-subtle">LBPD_TWR</th>
                <td class="bg-success-subtle">133.600</td>
                <td class="bg-success-subtle">Plovdiv Tower</td>
              </tr>
              <tr>
                <th scope="row" class="bg-info-subtle">LBPD_ATIS</th>
                <td class="bg-info-subtle">127.205</td>
                <td class="bg-info-subtle">Plovdiv ATIS</td>
              </tr>
              <tr>
                <th colspan="3" class="bg-secondary-subtle">Gorna Oryahovitsa</th>
              </tr>
              <tr>
                <th scope="row" class="bg-success-subtle">LBGO_TWR</th>
                <td class="bg-success-subtle">133.500</td>
                <td class="bg-success-subtle">Gorna Tower</td>
              </tr>
              <tr>
                <th scope="row" class="bg-info-subtle">LBGO_ATIS</th>
                <td class="bg-info-subtle">127.130</td>
                <td class="bg-info-subtle">Gorna ATIS</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>