<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{atc.trainingfiles.title})}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-3">
          <div th:text="#{atc.trainingfiles.message}">Here you will find PDF documents, regarding the training for certain positions.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-4 mb-3">
          <div class="p-3 border rounded-3 shadow">
            <div class="mb-3 d-flex align-items-center">
              <a href="#">
                <img src="#" th:src="@{/resources/icons/svg/docs/pdf.svg}" class="height-40 me-3 flex-shrink-0 w-auto" alt=""/>
              </a>
              <div class="flex-grow-1 overflow-hidden">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <a href="#" th:href="@{/resources/training-files/S2_Position_Overview.pdf}" target="_blank" class="text-primary fw-bold me-5" th:text="#{atc.trainingfiles.s2}">Tower (TWR) S2 ATC Guide</a>
                    <div class="text-muted">
                      <small>
                        <i class="bi bi-files"></i>
                        <span th:text="#{atc.information.atccareer.onefile}">1 file</span>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end d-grid">
              <a href="#" th:href="@{/resources/training-files/S2_Position_Overview.pdf}" download="S2_Position_Overview.pdf" class="btn btn-primary btn-sm">
                <span class="material-symbols-rounded align-middle" th:text="#{atc.information.atccareer.download}">Download</span>
              </a>
            </div>
          </div>

          <!--          <div class="card">
                      <div class="card-body">
                        <a href="#" th:href="@{/resources/training-files/S2_Position_Overview.pdf}" style="text-decoration: none;"
                           th:text="#{atc.trainingfiles.s2}">Tower (TWR) S2 ATC Guide</a>
                      </div>
                    </div>-->
        </div>
        <div class="col-12 col-lg-4 mb-3">
          <div class="p-3 border rounded-3 shadow">
            <div class="mb-3 d-flex align-items-center">
              <a href="#">
                <img src="#" th:src="@{/resources/icons/svg/docs/pdf.svg}" class="height-40 me-3 flex-shrink-0 w-auto" alt=""/>
              </a>
              <div class="flex-grow-1 overflow-hidden">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <a href="#" th:href="@{/resources/training-files/S3_Position_Overview.pdf}" target="_blank" class="text-primary fw-bold me-5" th:text="#{atc.trainingfiles.s3}">Approach (APP) S3 ATC Guide</a>
                    <div class="text-muted">
                      <small>
                        <i class="bi bi-files"></i>
                        <span th:text="#{atc.information.atccareer.onefile}">1 file</span>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end d-grid">
              <a href="#" th:href="@{/resources/training-files/S3_Position_Overview.pdf}" download="S3_Position_Overview.pdf" class="btn btn-primary btn-sm">
                <span class="material-symbols-rounded align-middle" th:text="#{atc.information.atccareer.download}">Download</span>
              </a>
            </div>
          </div>
          <!--          <div class="card">
                      <div class="card-body">
                        <a href="#" th:href="@{/resources/training-files/S3_Position_Overview.pdf}" style="text-decoration: none;"
                           th:text="#{atc.trainingfiles.s3}">Approach (APP) S3 ATC Guide</a>
                      </div>
                    </div>-->
        </div>
        <div class="col-12 col-lg-4 mb-3">
          <div class="p-3 border rounded-3 shadow">
            <div class="mb-3 d-flex align-items-center">
              <a href="#">
                <img src="#" th:src="@{/resources/icons/svg/docs/pdf.svg}" class="height-40 me-3 flex-shrink-0 w-auto" alt=""/>
              </a>
              <div class="flex-grow-1 overflow-hidden">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <a href="#" th:href="@{/resources/training-files/C1_Position_Overview.pdf}" target="_blank" class="text-primary fw-bold me-5" th:text="#{atc.trainingfiles.c1}">Control (CTR) C1 ATC Guide</a>
                    <div class="text-muted">
                      <small>
                        <i class="bi bi-files"></i>
                        <span th:text="#{atc.information.atccareer.onefile}">1 file</span>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end d-grid">
              <a href="#" th:href="@{/resources/training-files/C1_Position_Overview.pdf}" download="C1_Position_Overview.pdf" class="btn btn-primary btn-sm">
                <span class="material-symbols-rounded align-middle" th:text="#{atc.information.atccareer.download}">Download</span>
              </a>
            </div>
          </div>
          <!--          <div class="card">
                      <div class="card-body">
                        <a href="#" th:href="@{/resources/training-files/C1_Position_Overview.pdf}" style="text-decoration: none;"
                           th:text="#{atc.trainingfiles.c1}">Control (CTR) C1 ATC Guide</a>
                      </div>
                    </div>-->
        </div>
      </div>

      <!--      <iframe src="#" th:src="@{/resources/training-files/C1_Position_Overview.pdf}" width="100%" height="1000px" allowfullscreen="allowfullscreen">
              Вашият браузър не поддържа вградени PDF файлове. Моля, изтеглете файла <a href="#" th:href="@{/resources/training-files/C1_Position_Overview.pdf}">тук</a>.
            </iframe>-->
    </div>
  </body>
</html>