<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(${event.name})}">BGvACC</title>

    <style>
      .eventDescription a {
        color: var(--bs-primary) !important;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <!--Card-->
      <div class="card shadow border-0 mb-4">
        <div class="d-flex flex-lg-row flex-column overflow-hidden ">
          <div class="">
            <!--Image-->
            <img src="#" th:src="${event.imageUrl}" alt="" class="img-fluid border rounded"/>
          </div>
          <div class="card-body h-100 p-0 mt-0 m-4 flex-grow-1">
            <div class="my-4">
              <h1 class="h4 mb-2" th:text="${event.name}">Title</h1>
              <div class="lh-1 text-body-secondary" th:text="${event.getFormattedStartDateTime('dd.MM.yyyy, HH:mm')} + ' - ' + ${event.getFormattedEndDateTime('HH:mm')} + 'z'">Mar 12, 2021</div>
            </div>
            <div class="fs-5" th:text="${event.shortDescription}">Short description</div>
            <hr class="mt-3 mb-0 d-block d-lg-none"/>
          </div>
        </div>
        <div class="eventDescription mx-4 mb-4 mt-0 mt-lg-4">
          <div th:utext="${event.htmlDescription}">Description</div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="h5 mb-3" th:text="#{event.roster.title}">Event roster</div>

          <div th:if="${!event.isCpt and !doAllPositionsHaveSlots}" class="text-muted">
            <small class="bi bi-info-circle me-1"></small>
            <small th:text="#{event.roster.configuring}">The event roster is currently being configured. It will soon be available for booking.</small>
          </div>

          <div th:if="${event.isCpt}" class="text-muted">
            <small class="bi bi-info-circle me-1"></small>
            <small th:text="#{event.roster.cpt}">The CPT events don't have a roster as they are connected to a parent event.</small>
          </div>

          <table class="table table-hover table-striped table-bordered" th:if="${doAllPositionsHaveSlots}">
            <thead>
              <tr>
                <th scope="col" class="fw-bold" th:text="#{event.roster.positionslot}">Position / Slot</th>
                <th scope="col" class="fw-bold text-center" th:each="sl : ${@slotsGenerator.generateSlots(event.startAt.toLocalDateTime(), event.endAt.toLocalDateTime(), mostSlots)}"
                    th:text="${sl.getFormattedStartDateTime('HH:mm')} + ' - ' + ${sl.getFormattedEndDateTime('HH:mm')} + 'z'"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="ep : ${eventPositions}">
                <td th:text="#{positions. + ${#strings.toLowerCase(ep.positionId)}}"></td>

                <td th:colspan="${mostSlots / #lists.size(ep.slots)}" class="text-center"
                    th:each="sl, iterStat : ${ep.slots}">

                  <!--<div th:text="${ep.canUserApplyForPosition}"></div>-->
                  <div sec:authorize="isAuthenticated()" th:remove="tag">

                    <div th:if="${sl.isApproved}" th:remove="tag">
                      <span th:text="${sl.user != null ? sl.user.names.fullName : '-'}"></span>
                    </div>

                    <div th:if="${!sl.isApproved}" th:remove="tag">
                      <a href="#" th:if="${ep.canUserApplyForPosition}" class="btn btn-primary btn-sm"
                         data-bs-toggle="modal" data-bs-target="#applyForSlotModal" th:data-slot-id="${sl.slotId}" 
                         th:data-msg="#{event.roster.applyforslot.modal.message(${event.name})}"
                         th:data-position="${ep.positionId}"
                         th:data-date="${event.getFormattedStartDateTime('dd.MM.yyyy')}"
                         th:data-time-slot="${sl.getFormattedStartDateTime('HH:mm')} + ' - ' + ${sl.getFormattedEndDateTime('HH:mm')} + 'z'"
                         th:text="#{event.roster.applyforslot}">Apply for slot</a>
                      <span th:if="${!ep.canUserApplyForPosition}" th:text="${sl.user != null ? sl.user.names.fullName : '-'}"></span>
                    </div>
                  </div>
                  <div sec:authorize="!isAuthenticated()" th:remove="tag">
                    <span th:text="${sl.isApproved} ? sl.user.names.fullName : '-'"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal fade" id="applyForSlotModal" tabindex="-1" aria-labelledby="applyForSlotModalLabel" style="display: none;" aria-hidden="true">
        <form id="applyForSlotModalForm" method="post">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" th:text="#{event.roster.applyforslot.modal.title}">Application for event slot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div id="applyForSlotMessage" class="mb-3"></div>
                <div>
                  <dl>
                    <dt>Position</dt>
                    <dd id="applyForSlotDataPosition"></dd>
                    <dt>Date</dt>
                    <dd id="applyForSlotDataDate"></dd>
                    <dt>Time slot</dt>
                    <dd id="applyForSlotDataTimeSlot"></dd>
                  </dl>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Apply for slot</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let applyForSlotUrl = /*[[@{/events/} + ${event.eventId} + '/slot']]*/;
                let applyForSlotUrl2 = /*[[@{/}]]*/;
        /*]]>*/

        document.getElementById('applyForSlotModal').addEventListener('show.bs.modal', function (event) {
          let modal = $(event.relatedTarget);
          let slotId = modal.data("slot-id");
          let message = modal.data("msg");
          let position = modal.data("position");
          let date = modal.data("date");
          let timeSlot = modal.data("time-slot");

          $("#applyForSlotMessage").empty().append(message);
          $("#applyForSlotDataPosition").empty().append(position);
          $("#applyForSlotDataDate").empty().append(date);
          $("#applyForSlotDataTimeSlot").empty().append(timeSlot);

          $('#applyForSlotModalForm').attr('action', applyForSlotUrl + '/' + slotId + '/apply-for-controlling');
        });

      </script>
    </div>
  </body>
</html>