<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{events.title})}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div th:if="${#lists.isEmpty(events)}" th:remove="tag">
        <h1 class="h4 fst-italic" th:text="#{events.notfound}">Events not found.</h1>
      </div>

      <div class="row" th:if="${!#lists.isEmpty(events)}">
        <div class="h5 mb-4" th:text="#{events.total(${events.size})}">Active events</div>

        <div class="col-12 col-md-6 col-xl-4 mb-3" th:each="e : ${events}">
          <!--article-->
          <div class="card overflow-hidden">
            <a href="#" th:href="@{/events/} + ${e.eventId}" class="text-reset">
              <img src="#" th:src="${e.imageUrl}" alt="" class="img-fluid img-zoom position-relative"/>
            </a>
            <div class="card-body">
              <div class="h5 mb-3">
                <a href="#" th:href="@{/events/} + ${e.eventId}" class="text-reset" th:text="${e.name}">Title</a>
              </div>
              <div class="">
                <div class="row">
                  <div class="col-12 mb-2" th:classappend="${e.isCpt} ? 'col-lg-6'">
                    <div class="fw-bold" th:text="#{events.eventtype}">Event type</div>
                    <div th:if="${e.isEvent}" class="badge bg-primary" th:text="#{events.eventtype.event}">Event</div>
                    <div th:if="${e.isCpt}" class="badge bg-success" th:text="#{events.eventtype.cpt}">CPT</div>
                  </div>
                  <div class="col-12 col-lg-6 text-lg-end mb-2" th:if="${e.isCpt}">
                    <div class="fw-bold" th:text="#{events.cptexaminee}">Examinee</div>
                    <div class="" th:text="${e.cptExaminee ne null} ? ${e.cptExaminee} : '-'">Examinee</div>
                  </div>
                </div>

                <div class="fw-bold" th:text="#{events.datetime}">Date &amp; time</div>
                <div class="text-body-secondary">
                  <!--                  <span th:text="${#temporals.formatISO(e.startAtTimestamp)}"></span>
                                    <span th:text="${#temporals.format(e.startAtTimestamp.toInstant(), 'dd.MM.yyyy, HH:mm')}"></span>-->
                  <span th:text="${#dates.format(e.startAt.toInstant, 'dd.MM.yy')} + ', ' + ${#dates.format(e.startAtTimestamp, 'HH:mm')} + ' - ' + ${#dates.format(e.endAtTimestamp, 'HH:mm')} + 'z'">Mar 12, 2021</span>
                </div>
              </div>
            </div>
          </div>
          <!--/.article-->
        </div>
      </div>
      <!--      <div class="row" th:if="${!#lists.isEmpty(bulgariaEvents.data)}">
              <div class="col-12 col-md-4 mb-3" th:each="e : ${bulgariaEvents.data}">
                <div class="card">
                  <a href="#" th:href="@{/events/} + ${e.id}">
                    <img src="#" th:src="${e.banner}" class="card-img-top" alt="..."/>
                  </a>
                  <div class="card-body">
                    <h5 class="card-title" th:text="${e.name}">Card title</h5>
                    <p class="card-text" th:text="${e.shortDescription}">Description</p>
                    <div class="mb-3">
                      <span th:text="${e.timeFrame}">-</span>
                    </div>
                    <div class="mb-3">
                      <span class="fw-bold" th:text="${e.airports.size gt 1} ? 'Airports:' : 'Airport:'">Airports:</span>
                      <span th:each="a, iStat : ${e.airports}" th:text="${iStat.last} ? ${a.icao} : (${a.icao} + ', ')"></span>
                    </div>
      
                    <a href="#" th:href="@{/events/} + ${e.id}" class="btn btn-primary">View event</a>
                  </div>
                </div>
              </div>
            </div>-->
    </div>
  </body>
</html>