<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(${event.name})}">BGvACC</title>

    <style>
      .eventDescription a {
        color: var(--bs-primary) !important;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <!--Card-->
      <div class="card shadow border-0 mb-4">
        <div class="d-flex flex-lg-row flex-column overflow-hidden ">
          <div class="">
            <!--Image-->
            <img src="#" th:src="${event.imageUrl}" alt="" class="img-fluid border rounded"/>
          </div>
          <div class="card-body h-100 p-0 mt-0 m-4 flex-grow-1">
            <div class="my-4">
              <h1 class="h4 mb-2" th:text="${event.name}">Title</h1>
              <div class="d-block lh-1 text-body-secondary" th:text="${event.timeFrame}">Date time</div>
            </div>
            <div class="fs-5" th:text="${event.shortDescription}">Short description</div>
          </div>
        </div>
        <div class="eventDescription mx-4 mb-4 mt-0 mt-lg-4">
          <div th:utext="${event.htmlDescription}">Description</div>

          <div>
            <a href="#" class="btn btn-primary btn-sm mt-3">Apply for controlling</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="h6 mb-0">Event roster</div>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col" class="fw-bold">1</th>
                <th scope="col" class="fw-bold text-end text-md-start">2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!--      <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-5">
                  <img src="#" th:src="${event.banner}" class="img-fluid rounded-start" alt="#" th:alt="${event.name}"/>
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${event.name}">Card title</h5>
                    <p class="card-text" th:text="${event.description}">Description</p>
                    <div class="row">
                      <dl class="col-12 col-md-6 mb-3">
                        <dt>Start time</dt>
                        <dd th:text="${event.startTimeFormatted}">-</dd>
                      </dl>
                      <dl class="col-12 col-md-6 mb-0 mb-md-3">
                        <dt>End time</dt>
                        <dd th:text="${event.endTimeFormatted}">-</dd>
                      </dl>
                    </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <div class="">
                      <a href="#" th:href="${event.link}" class="btn btn-primary" target="_blank">Link to event</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
    </div>
  </body>
</html>