<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/portalTemplate}">
  <head>
    <title th:text="#{app.title(#{app.portal.title(${ap.name})})}">Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 col-xl-3 mb-4">
          
        </div>
      </div>
    </div>
  </body>
</html>