<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/portalTemplate}">
  <head>
    <title>Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-3">
          <div class="card mb-3 mb-lg-5">
            <div class="card-body">

              <div class="row justify-content-between align-items-center">
                <div class="col-12">

                  <h5 class="mb-3">Profile information</h5>
                  <div class="row">
                    <div class="col-md-auto col-12 mb-4 mb-md-0">

                      <!-- Avatar -->
                      <div class="position-relative">
                        <div class="avatar-status status-online me-2 avatar d-flex align-items-center fw-bolder justify-content-center text-white bg-success rounded-circle">
                          <span th:text="${#strings.substring(session.loggedUser.names.firstName, 0, 1)}">J</span>
                          <span th:if="${session.loggedUser.names.lastName ne null and session.loggedUser.names.lastName.length gt 1}" th:text="${#strings.substring(session.loggedUser.names.lastName, 0, 1)}">D</span>
                        </div>
                      </div>

                    </div>
                    <div class="col-md col-12">
                      <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                          <dl>
                            <dt class="">Name</dt>
                            <dd th:text="${session.loggedUser.names.fullName}">Full name</dd>
                          </dl>
                        </div>
                        <div class="col-12 col-md-4 text-center mb-3">
                          <dl>
                            <dt class="">Email</dt>
                            <dd th:text="${session.loggedUser.email}">Email</dd>
                          </dl>
                        </div>
                        <div class="col-12 col-md-4 text-end mb-3" th:with="ratingSymbol=${@vatsimRatingUtils.getATCRatingSymbol(member.data.rating)}">
                          <dl>
                            <dt class="">Current ATC rating</dt>
                            <dd th:text="#{members.member.atc. + ${#strings.toLowerCase(ratingSymbol)}}">ATC rating</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>

<!--              <hr class="my-4"/>-->
            </div>
          </div>
        </div>
      </div>
      
<!--      <div class="row">
        <div class="col-12 mb-3">
          <div th:each="s : ${sessions}" th:text="${s}"></div>
        </div>
      </div>-->
    </div>
  </body>
</html>