<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title('Feedback report')}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-4">

          <p>Dear pilots and controllers!</p>

          <p>We have created this feedback-form reports from controllers and pilots about your experience at VATSIM Bulgaria.
            Our goal is to isolate and correct errors that happen on a regular basis and this will work only if we get your input.
            It is of high importance that you understand that we are not trying to identify individuals committing errors so we can punish them.</p>

          <p>Our intention is to improve VATSIM Bulgaria quality – and that is for you! In your reports you should not mention any names.</p>

          <p>We are only interested in the place (e.g. LBSF_APP) and probably the name of the controller (e.g. Name Surname). Please do not mention the date.</p>

          <p>All your information will be read by VATSIM Bulgaria Staff only and we guarantee that everything will stay absolutely confidential.</p>

          <p>If you still would like to state your contact-data (for further questions), you can do so by simply adding them to the feedback-form or by sending all your information by e-mail instead of using the feedback-form.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-8 m-lg-auto mb-3">

          <form class="row" th:action="@{/feedback-report}" method="post" th:object="${frm}">
            <div class="col-12 col-md-6 mb-3">
              <label for="firstNameInput" class="form-label required"
                     th:text="#{atc.application.form.firstname}">First name</label>
              <input type="text" class="form-control" id="firstNameInput" autofocus="autofocus"
                     th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"/>
              <span class="invalid-feedback" th:errors="*{firstName}">Error</span>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label for="lastNameInput" class="form-label required"
                     th:text="#{atc.application.form.lastname}">Last name</label>
              <input type="text" class="form-control" id="lastNameInput"
                     th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"/>
              <span class="invalid-feedback" th:errors="*{lastName}">Error</span>
            </div>
            <div class="col-12 mb-3">
              <label for="emailInput" class="form-label required"
                     th:text="#{atc.application.form.email}">Email</label>
              <input type="email" class="form-control" id="emailInput"
                     th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>
              <span class="invalid-feedback" th:errors="*{email}">Error</span>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label for="vatsimCIDInput" class="form-label required"
                     th:text="'VATSIM CID'">VATSIM CID</label>
              <input type="text" class="form-control" id="vatsimCIDInput"
                     th:field="*{cid}" th:classappend="${#fields.hasErrors('cid')} ? 'is-invalid'"/>
              <span class="invalid-feedback" th:errors="*{cid}">Error</span>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label for="callsignInput" class="form-label required"
                     th:text="'Callsign'">Callsign</label>
              <input type="text" class="form-control" id="callsignInput"
                     th:field="*{callsign}" th:classappend="${#fields.hasErrors('callsign')} ? 'is-invalid'"/>
              <span class="invalid-feedback" th:errors="*{callsign}">Error</span>
            </div>
            <div class="col-12 mb-3">
              <label for="feedbackInput" class="form-label required"\
                     th:text="'Feedback'">Feedback</label>
              <textarea class="form-control" id="feedbackInput" rows="5"
                        th:field="*{feedback}" th:classappend="${#fields.hasErrors('feedback')} ? 'is-invalid'"></textarea>
              <span class="invalid-feedback" th:errors="*{feedback}">Error</span>
            </div>
            <div class="col-12 mb-3">
              <button type="submit" class="btn btn-primary" th:text="#{atc.application.form.submit}">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>