<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/portalTemplate}">
  <head>
    <title th:text="#{app.title(#{app.portal.title(${pageTitle})})}">Bulgaria vACC – Bulgarian Virtual Area Control Center</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div th:if="${#lists.isEmpty(events)}" th:remove="tag">
        <h1 class="h4 fst-italic" th:text="#{events.notfound}">Events not found.</h1>
      </div>

      <div class="row" th:if="${!#lists.isEmpty(events)}">

        <div class="text-muted mb-4" th:text="#{portal.events.calendar.note}">All events are presented in local time in Sofia - (UTC+3 - EEST, UTC+2 EET) time</div>

        <div class="col-12 col-lg-3 mb-3" th:each="e : ${events}">

          <div class="card overflow-hidden">
            <a href="#" th:href="@{/portal/events/} + ${e.eventId}" class="text-reset mb-3">
              <img src="#" th:src="${e.imageUrl}" alt="" class="img-fluid img-zoom position-relative"/>
            </a>
            <div class="card-header d-flex align-items-center">
              <h5 class="mb-0">
                <a href="#" th:href="@{/events/} + ${e.eventId}" class="text-reset mb-3" th:text="${e.name}">Title</a>
              </h5>
            </div>
            <div class="card-body">
              <!--              <div class="row">
                              <div class="col-12 col-xl-6 mb-3" th:if="${e.airports.departure.size ge 1}">
                                <div class="fw-bold" th:text="${e.airports.departure.size gt 1} ? #{events.departureairports} : #{events.departureairport}">Departure airports</div>
                                <span th:each="a, iStat : ${e.airports.departure}" th:text="${iStat.last} ? ${a} : (${a} + ', ')" th:if="${@airportUtils.isManagedAirport(a)}"
                                      data-bs-toggle="tooltip" data-bs-placement="top" th:data-bs-original-title="#{airport. + ${#strings.toLowerCase(a)}}"></span>
              
                                <span th:each="a, iStat : ${e.airports.departure}" th:text="${iStat.last} ? ${a} : (${a} + ', ')" th:if="${!@airportUtils.isManagedAirport(a)}"></span>
                              </div>
                              <div class="col-12 col-xl-6 text-xl-end mb-3" th:if="${e.airports.arrival.size ge 1}">
                                <div class="fw-bold" th:text="${e.airports.arrival.size gt 1} ? #{events.arrivalairports} : #{events.arrivalairport}">Arrival airports</div>
                                <span th:each="a, iStat : ${e.airports.arrival}" th:text="${iStat.last} ? ${a} : (${a} + ', ')" th:if="${@airportUtils.isManagedAirport(a)}"
                                      data-bs-toggle="tooltip" data-bs-placement="top" th:data-bs-original-title="#{airport. + ${#strings.toLowerCase(a)}}"></span>
                                <span th:each="a, iStat : ${e.airports.arrival}" th:text="${iStat.last} ? ${a} : (${a} + ', ')" th:if="${!@airportUtils.isManagedAirport(a)}"></span>
                              </div>
                            </div>-->
              <div class="">
                <div class="row">
                  <div class="col-12 mb-2" th:classappend="${e.isCpt} ? 'col-lg-6'">
                    <div class="fw-bold" th:text="#{events.eventtype}">Event type</div>
                    <div th:if="${e.isEvent}" class="badge bg-primary" th:text="#{events.eventtype.event}">Event</div>
                    <div th:if="${e.isCpt}" class="badge bg-success" th:text="#{events.eventtype.cpt}">CPT</div>
                  </div>
                  <div class="col-12 col-lg-6 text-lg-end mb-2" th:if="${e.isCpt}">
                    <div class="fw-bold" th:text="#{events.cptexaminee}">Examinee</div>
                    <div class="" th:text="${e.cptExaminee ne null} ? ${e.cptExaminee} : '-'">Examinee</div>
                  </div>
                </div>

                <div class="fw-bold" th:utext="#{events.datetime}">Date &amp; time</div>
                <div class="text-body-secondary">
                  <!--                  <span th:text="${#temporals.formatISO(e.startAtTimestamp)}"></span>
                                    <span th:text="${#temporals.format(e.startAtTimestamp.toInstant(), 'dd.MM.yyyy, HH:mm')}"></span>-->
                  <span th:text="${e.getFormattedStartDateTime('dd.MM.yyyy, HH:mm')} + ' - ' + ${e.getFormattedEndDateTime('HH:mm')} + 'z'">Mar 12, 2021</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>