<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/portalTemplate}">
  <head>
    <title th:text="#{app.title(#{app.portal.title(${pageTitle})})}">Bulgaria vACC – Bulgarian Virtual Area Control Center</title>

    <style>
      .eventDescription a {
        color: var(--bs-primary) !important;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row" sec:authorize="hasAnyRole('SYS_ADMIN', 'STAFF_DIRECTOR', 'STAFF_EVENTS')">
        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-muted mb-3">
                <small>
                  <span class="material-symbols-rounded me-1">lock_person</span>
                  <span th:utext="#{portal.events.event.roster.cardonlyvisible}">This card is only visible for Staff director, Events staff and system administrators.</span>
                </small>
              </div>
              <div class="d-flex align-items-center me-3">
                <div class="h5 mb-0" th:text="#{portal.events.event.roster.administration}">Event roster administration</div>
                <div class="btn btn-success ms-auto" data-bs-toggle="modal" data-bs-target="#addEventPositionModal">
                  <span class="material-symbols-rounded me-1">add_circle</span>
                  <span th:text="#{portal.events.event.roster.addposition}">Add event position</span>
                </div>
              </div>

              <hr class="my-3"/>

              <div th:each="ep, iterStat : ${eventPositions}" th:remove="tag">

                <div class="d-flex align-items-center">
                  <div class="h4 text-primary mb-0" th:text="${iterStat.count} + '. ' + #{positions. + ${#strings.toLowerCase(ep.positionId)}}">LBSR_CTR - Sofia Control</div>
                  <a href="#" class="text-danger ms-3">
                    <span class="material-symbols-rounded">delete</span>
                  </a>
                </div>
                <div class="text-muted mb-2" th:with="minRating=${@vatsimRatingUtils.getATCRatingSymbol(ep.minimumRating)}">
                  <small th:text="#{portal.events.event.position.min(#{members.member.atc. + ${#strings.toLowerCase(minRating)}})}"></small>
                </div>

                <div class="mb-3 text-muted" th:if="${#lists.isEmpty(ep.slots)}">
                  <small th:text="#{portal.events.event.noavailableslots}">No slots available</small>
                </div>

                <div class="mb-2 text-muted" th:if="${!#lists.isEmpty(ep.slots)}">
                  <small th:text="${#lists.size(ep.slots)} + ' slot/s'">2 slots</small>
                </div>

                <div th:each="es, iterStat : ${ep.slots}" th:if="${!#lists.isEmpty(ep.slots)}">
                  <div class="h5 mb-0" th:with="isSameDay=${(es.startTime.year eq es.endTime.year) and (es.startTime.month eq es.endTime.month) and (es.startTime.date eq es.endTime.date)}">
                    <div th:if="${isSameDay}" th:text="${iterStat.count} + '. ' + ${#dates.format(es.startTime, 'HH:mm')} + ' - ' + ${#dates.format(es.endTime, 'HH:mm')} + 'z'">Same day</div>
                    <div th:if="${!isSameDay}" th:text="${iterStat.count} + '. ' + ${#dates.format(es.startTime, 'dd.MM.yyyy, HH:mm')} + ' - ' + ${#dates.format(es.endTime, 'dd.MM.yyy, HH:mm')} + 'z'">Same day</div>
                  </div>

                  <div class="mb-5 text-muted" th:if="${#lists.isEmpty(es.userEventApplications)}">
                    <span>No applications yet.</span>
                  </div>

                  <table class="table table-hover mb-5" th:if="${!#lists.isEmpty(es.userEventApplications)}">
                    <thead>
                      <tr>
                        <td class="fw-bold">CID &amp; Name</td>
                        <td class="fw-bold">Current rating</td>
                        <td class="fw-bold">Applied on</td>
                        <td class="fw-bold">Status</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="uea : ${es.userEventApplications}" th:with="isStatusPending=${uea.status eq null}">
                        <td th:text="${uea.user.cid} + ' - ' + ${uea.user.names}"
                            th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">-</td>
                        <td th:with="ratingSymbol=${@vatsimRatingUtils.getATCRatingSymbol(uea.user.highestControllerRating)}"
                            th:text="#{members.member.atc. + ${#strings.toLowerCase(ratingSymbol)}}"
                            th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">-</td>
                        <td th:text="${#dates.format(uea.appliedAt, 'dd.MM.yyyy, HH:mm:ss')}"
                            th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">-</td>
                        <td th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">
                          <span th:if="${isStatusPending}" class="badge bg-secondary">Pending</span>
                          <span th:if="${!isStatusPending and uea.status}" class="badge bg-success">Approved</span>
                          <span th:if="${!isStatusPending and !uea.status}" class="badge bg-danger">Rejected</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!--<div th:text="${es.startTime} + ' - ' + ${es.endTime}"></div>-->
                </div>

                <!--                <table class="table table-hover mb-5">
                                  <thead>
                                    <tr>
                                      <td class="fw-bold">Slot</td>
                                      <td class="fw-bold">CID &amp; Name</td>
                                      <td class="fw-bold">Current rating</td>
                                      <td class="fw-bold">Applied on</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr th:each="es : ${ep.slots}">
                                      <td class="fw-bold">1. 17:00-18:00z</td>
                                      <div th:if="${es.user ne null}" th:remove="tag">
                                        <td th:text="${es.user.cid} + ' - ' + ${es.user.names}">1604267 - Andrei Tzenov</td>
                                        <td>C1 - Enroute controller</td>
                                        <td>22.10.2024, 12:12:09</td>
                                      </div>
                                      <div th:if="${es.user eq null}" th:remove="tag">
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                      </div>
                                    </tr>
                                                        <tr>
                                                          <td class="fw-bold">2. 18:00-19:00z</td>
                                                          <td>1664545 - Emil Ivanov</td>
                                                          <td>C1 - Enroute controller</td>
                                                          <td>23.10.2024, 16:39:30</td>
                                                        </tr>
                                  </tbody>
                                </table>-->

                <!--<hr class="my-3"/>-->
              </div>

              <!--              <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col" class="fw-bold">#</th>
                                  <th scope="col" class="fw-bold">Position / CID</th>
                                  <th scope="col" class="fw-bold">Minimum rating required / Name</th>
                                  <th scope="col" class="fw-bold">Applications / Current rating</th>
                                  <th scope="col" class="fw-bold">Applied on</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="bg-secondary-subtle fw-bold">1</td>
                                  <td class="bg-secondary-subtle fw-bold">LBSF_APP</td>
                                  <td class="bg-secondary-subtle fw-bold">S3 - TMA controller</td>
                                  <td colspan="2" class="bg-secondary-subtle fw-bold">2</td>
                                </tr>
                                <tr>
                                  <td>1.</td>
                                  <td>1672684</td>
                                  <td>Atanas Arshinkov</td>
                                  <td>S3 - TMA Controller</td>
                                  <td>22.10.2024, 12:12:09</td>
                                </tr>
                                <tr>
                                  <td>2.</td>
                                  <td>1704000</td>
                                  <td>Lyudmil Lyudmilov</td>
                                  <td>S3 - TMA controller</td>
                                  <td>23.10.2024, 16:39:30</td>
                                </tr>
              
                                <tr>
                                  <td class="bg-secondary-subtle fw-bold">2</td>
                                  <td class="bg-secondary-subtle fw-bold">LBSF_TWR</td>
                                  <td class="bg-secondary-subtle fw-bold">S1 - Tower trainee</td>
                                  <td colspan="2" class="bg-secondary-subtle fw-bold">2</td>
                                </tr>
                                                  <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                  </tr>
                                <tr>
                                  <td>1.</td>
                                  <td>1672684</td>
                                  <td>Tsvetan Mitov</td>
                                  <td>S2 - Tower controller</td>
                                </tr>
                                <tr>
                                  <td>2.</td>
                                  <td>1773453</td>
                                  <td>Kristiyan Hristov</td>
                                  <td>S2 - Tower controller</td>
                                </tr>
                              </tbody>
                            </table>-->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!--Card-->
          <div class="card shadow border-0">
            <div class="d-flex flex-lg-row flex-column overflow-hidden ">
              <div class="">
                <!--Image-->
                <img src="#" th:src="${event.imageUrl}" alt="" class="img-fluid border rounded"/>
              </div>
              <div class="card-body h-100 p-0 m-4 flex-grow-1">
                <div class="mb-4">
                  <h1 class="h4 mb-2" th:text="${event.name}">Title</h1>
                  <div class="d-block lh-1 text-body-secondary" th:text="${#dates.format(event.startAt.toInstant, 'dd.MM.yy')} + ', ' + ${#dates.format(event.startAtTimestamp, 'HH:mm')} + ' - ' + ${#dates.format(event.endAtTimestamp, 'HH:mm')} + 'z'">Date time</div>
                </div>
                <div class="fs-5" th:text="${event.shortDescription}">Short description</div>
              </div>
            </div>
            <div class="eventDescription mx-4 mb-4 mt-0 mt-lg-4">
              <div th:utext="${event.htmlDescription}">Description</div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addEventPositionModal" tabindex="-1" aria-labelledby="addEventPositionModalLabel" style="display: none;" aria-hidden="true">
        <form th:action="@{/portal/events/} + ${eventId} + '/positions/add'" method="post">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addEventPositionModalLabel" th:text="#{portal.events.event.roster.addposition.modal.title}">Add position to event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 mb-2">
                    <label class="form-label required" th:text="#{portal.events.event.roster.addposition.modal.position}">Position</label>
                    <select class="form-control mb-3" name="position">
                      <optgroup th:label="#{calendar.reservation.create.position.control}" th:if="${hasPositions.hasAnyControl}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('CTR')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                      <optgroup th:label="#{calendar.reservation.create.position.sofia}" th:if="${hasPositions.hasAnySofia}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('LBSF')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                      <optgroup th:label="#{calendar.reservation.create.position.varna}" th:if="${hasPositions.hasAnyVarna}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('LBWN')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                      <optgroup th:label="#{calendar.reservation.create.position.burgas}" th:if="${hasPositions.hasAnyBurgas}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('LBBG')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                      <optgroup th:label="#{calendar.reservation.create.position.others}" th:if="${hasPositions.hasAnyOthers}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('LBPD') or p.position.contains('LBGO')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                    </select>
                  </div>
                  <div class="col-12 mb-2">
                    <label class="form-label required" th:text="#{portal.events.event.roster.addposition.modal.minimumrating}">Minimum rating</label>
                    <select class="form-control mb-3" name="minimumRating">
                      <option value="5" th:text="#{members.member.atc.c1}">C1</option>
                      <option value="4" th:text="#{members.member.atc.s3}">S3</option>
                      <option value="3" th:text="#{members.member.atc.s2}">S2</option>
                      <option value="2" th:text="#{members.member.atc.s1}">S1</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{portal.events.event.roster.addposition.modal.cancel}">Cancel</button>
                <button type="submit" class="btn btn-primary" th:text="#{portal.events.event.roster.addposition.modal.addposition}">Add position</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>