<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/portalTemplate}">
  <head>
    <title th:text="#{app.title(#{app.portal.title(${pageTitle})})}">Bulgaria vACC – Bulgarian Virtual Area Control Center</title>

    <style>
      .eventDescription a {
        color: var(--bs-primary) !important;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="row">
        <div class="col-12 mb-3">
          <!--Card-->
          <div class="card shadow border-0">
            <div class="d-flex flex-lg-row flex-column overflow-hidden ">
              <div class="">
                <!--Image-->
                <img src="#" th:src="${event.imageUrl}" alt="" class="img-fluid border rounded"/>
              </div>
              <div class="card-body h-100 p-0 m-4 flex-grow-1">
                <div class="mb-4">
                  <h1 class="h4 mb-2" th:text="${event.name}">Title</h1>
                  <div class="d-block lh-1 text-body-secondary" th:text="${event.getFormattedStartDateTime('dd.MM.yyyy, HH:mm')} + ' - ' + ${event.getFormattedEndDateTime('HH:mm')} + 'z'">Date time</div>
                </div>
                <div class="fs-5" th:text="${event.shortDescription}">Short description</div>
              </div>
            </div>
            <div class="eventDescription mx-4 mb-4 mt-0 mt-lg-4">
              <div th:utext="${event.htmlDescription}">Description</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" sec:authorize="hasAnyRole('SYS_ADMIN', 'STAFF_DIRECTOR', 'STAFF_EVENTS')">
        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-body">

              <div class="text-muted" th:if="${event.isCpt}">
                <small>
                  <span class="material-symbols-rounded me-1">lock_person</span>
                  <span th:utext="#{portal.events.event.roster.cptnoroster}">The CPT events do not have a roster, as they are always connected to an event.</span>
                </small>
              </div>

              <div th:if="${!event.isCpt}" th:remove="tag">
                <div class="text-muted mb-3">
                  <small>
                    <span class="material-symbols-rounded me-1">lock_person</span>
                    <span th:utext="#{portal.events.event.roster.cardonlyvisible}">This card is only visible for Staff director, Events staff and system administrators.</span>
                  </small>
                </div>
                <div class="d-flex align-items-center me-3">
                  <div class="h5 mb-0" th:text="#{portal.events.event.roster.administration}">Event roster administration</div>
                  <div class="btn btn-success btn-sm ms-auto" data-bs-toggle="modal" data-bs-target="#addEventPositionModal">
                    <span class="material-symbols-rounded me-1">add_circle</span>
                    <span th:text="#{portal.events.event.roster.addposition}">Add event position</span>
                  </div>
                </div>

                <hr class="my-3"/>

                <div class="mb-2 text-muted" th:if="${#lists.isEmpty(eventPositions)}">
                  <small th:text="#{portal.events.event.nopositionsavailable}">No positions available</small>
                </div>

                <div th:each="ep, iterStat : ${eventPositions}" th:remove="tag">

                  <div class="d-flex align-items-center">
                    <div class="h4 text-primary mb-0" th:text="${iterStat.count} + '. ' + #{positions. + ${#strings.toLowerCase(ep.positionId)}}">LBSR_CTR - Sofia Control</div>
                    <a href="#" class="text-danger ms-3" data-bs-toggle="modal" data-bs-target="#removeEventPositionModal" th:data-event-position-id="${ep.eventPositionId}" th:data-remove-event-position-msg="#{portal.events.event.roster.removeposition.modal.message(#{positions. + ${#strings.toLowerCase(ep.positionId)}})}">
                      <span class="material-symbols-rounded">delete</span>
                    </a>
                  </div>
                  <div class="text-muted mb-2" th:with="minRating=${@vatsimRatingUtils.getATCRatingSymbol(ep.minimumRating)}">
                    <small th:utext="#{portal.events.event.position.min(#{members.member.atc. + ${#strings.toLowerCase(minRating)}})}" th:if="${!ep.canTraineesApply}"></small>
                    <small th:utext="#{portal.events.event.position.minandtrainees(#{members.member.atc. + ${#strings.toLowerCase(minRating)}})}" th:if="${ep.canTraineesApply}"></small>
                  </div>

                  <div class="mb-2 text-muted" th:if="${#lists.isEmpty(ep.slots)}">
                    <small th:text="#{portal.events.event.noavailableslots}">No slots available</small>
                  </div>

                  <div th:classappend="${!iterStat.last or !#lists.isEmpty(ep.slots)} ? 'mb-4'" th:if="${#lists.isEmpty(ep.slots)}">
                    <a href="#" class="btn btn-info text-light btn-sm" data-bs-toggle="modal" data-bs-target="#addPositionSlotModal" th:data-event-position-id="${ep.eventPositionId}" th:data-add-event-position-slot-msg="#{portal.events.event.roster.addpositionslots.modal.message(#{positions. + ${#strings.toLowerCase(ep.positionId)}})}">
                      <span th:text="#{portal.events.event.setslots}">Set slots</span>
                    </a>
                  </div>

                  <div class="mb-2 text-muted" th:if="${!#lists.isEmpty(ep.slots)}" th:with="slotsCount=${#lists.size(ep.slots)}">
                    <small th:if="${slotsCount eq 1}" th:text="#{portal.events.event.slots.1}">1 slot</small>
                    <small th:if="${slotsCount gt 1}" th:text="#{portal.events.event.slots.n(${slotsCount})}">1 slot</small>
                  </div>

                  <div th:each="es, iterStat : ${ep.slots}" th:if="${!#lists.isEmpty(ep.slots)}">
                    <div class="h5 mb-0" th:with="isSameDay=${(es.startTime.year eq es.endTime.year) and (es.startTime.month eq es.endTime.month) and (es.startTime.date eq es.endTime.date)}">
                      <div th:if="${isSameDay}" th:text="${iterStat.count} + '. ' + ${#dates.format(es.startTime, 'HH:mm')} + ' - ' + ${#dates.format(es.endTime, 'HH:mm')} + 'z'">Same day</div>
                      <div th:if="${!isSameDay}" th:text="${iterStat.count} + '. ' + ${#dates.format(es.startTime, 'dd.MM.yyyy, HH:mm')} + ' - ' + ${#dates.format(es.endTime, 'dd.MM.yyy, HH:mm')} + 'z'">Same day</div>
                    </div>

                    <div class="mb-5 text-muted" th:if="${#lists.isEmpty(es.userEventApplications)}">
                      <span th:text="#{portal.events.event.noapplications}">No applications yet.</span>
                    </div>

                    <table class="table table-hover mb-5" th:if="${!#lists.isEmpty(es.userEventApplications)}">
                      <thead>
                        <tr>
                          <td class="fw-bold" th:utext="#{portal.events.event.cidname}">CID &amp; Name</td>
                          <td class="fw-bold" th:text="#{portal.events.event.currentrating}">Current rating</td>
                          <td class="fw-bold" th:text="#{portal.events.event.appliedon}">Applied on</td>
                          <td class="fw-bold" th:text="#{portal.events.event.status}">Status</td>
                          <td class="fw-bold text-end" th:text="#{portal.events.event.actions}">Actions</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="align-middle" th:each="uea : ${es.userEventApplications}" th:with="isStatusPending=${uea.status eq null}">
                          <td th:text="${uea.user.cid} + ' - ' + ${uea.user.names}"
                              th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">-</td>
                          <td th:with="ratingSymbol=${@vatsimRatingUtils.getATCRatingSymbol(uea.user.highestControllerRating)}"
                              th:text="#{members.member.atc. + ${#strings.toLowerCase(ratingSymbol)}}"
                              th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">-</td>
                          <td th:text="${#dates.format(uea.appliedAt, 'dd.MM.yyyy, HH:mm:ss')}"
                              th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">-</td>
                          <td th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">
                            <span th:if="${isStatusPending}" class="badge bg-secondary" th:text="#{portal.events.event.status.pending}">Pending</span>
                            <span th:if="${!isStatusPending and uea.status}" class="badge bg-success" th:text="#{portal.events.event.status.approved}">Approved</span>
                            <span th:if="${!isStatusPending and !uea.status}" class="badge bg-danger" th:text="#{portal.events.event.status.rejected}">Rejected</span>
                          </td>
                          <td class="text-end" th:classappend="${!isStatusPending and uea.status} ? 'bg-success-subtle'">
                            <div th:if="${isStatusPending}" th:remove="tag">
                              <a href="#" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#approveSlotApplicationModal" th:data-application-id="${uea.applicationId}" th:data-position="#{positions. + ${#strings.toLowerCase(ep.positionId)}}" th:data-user-cid="${uea.user.cid}" th:data-user-name="${uea.user.names.fullName}"
                                 th:data-slot-id="${es.slotId}" th:data-time-slot="${#dates.format(es.startTime, 'HH:mm')} + ' - ' + ${#dates.format(es.endTime, 'HH:mm')} + 'z'">
                                <span class="material-symbols-rounded">check_circle</span>
                                <span th:text="#{portal.events.event.approve}">Approve</span>
                              </a>
                              <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#rejectSlotApplicationModal" th:data-application-id="${uea.applicationId}" th:data-position="#{positions. + ${#strings.toLowerCase(ep.positionId)}}" th:data-user-cid="${uea.user.cid}" th:data-user-name="${uea.user.names.fullName}"
                                 th:data-slot-id="${es.slotId}" th:data-time-slot="${#dates.format(es.startTime, 'HH:mm')} + ' - ' + ${#dates.format(es.endTime, 'HH:mm')} + 'z'">
                                <span class="material-symbols-rounded">cancel</span>
                                <span th:text="#{portal.events.event.reject}">Reject</span>
                              </a>
                            </div>
                            <span th:if="${!isStatusPending}">-</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <hr th:if="${!iterStat.last}" class="my-2 mb-4"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addEventPositionModal" tabindex="-1" aria-labelledby="addEventPositionModalLabel" style="display: none;" aria-hidden="true" sec:authorize="hasAnyRole('SYS_ADMIN', 'STAFF_DIRECTOR', 'STAFF_EVENTS')" th:if="${!event.isCpt}">
        <form th:action="@{/portal/events/} + ${eventId} + '/positions/add'" method="post">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addEventPositionModalLabel" th:text="#{portal.events.event.roster.addposition.modal.title}">Add position to event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 mb-2">
                    <label class="form-label required" th:text="#{portal.events.event.roster.addposition.modal.position}">Position</label>
                    <select class="form-control mb-3" name="position">
                      <optgroup th:label="#{calendar.reservation.create.position.control}" th:if="${hasPositions.hasAnyControl}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('CTR')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                      <optgroup th:label="#{calendar.reservation.create.position.sofia}" th:if="${hasPositions.hasAnySofia}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('LBSF')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                      <optgroup th:label="#{calendar.reservation.create.position.varna}" th:if="${hasPositions.hasAnyVarna}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('LBWN')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                      <optgroup th:label="#{calendar.reservation.create.position.burgas}" th:if="${hasPositions.hasAnyBurgas}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('LBBG')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                      <optgroup th:label="#{calendar.reservation.create.position.others}" th:if="${hasPositions.hasAnyOthers}">
                        <option th:each="p : ${unassignedPositions}" th:if="${p.position.contains('LBPD') or p.position.contains('LBGO')}" th:value="${p.position}" th:text="#{positions. + ${#strings.toLowerCase(p.position)}}">Position</option>
                      </optgroup>
                    </select>
                  </div>
                  <div class="col-12 mb-2">
                    <label class="form-label required" th:text="#{portal.events.event.roster.addposition.modal.minimumrating}">Minimum rating</label>
                    <select class="form-control mb-3" name="minimumRating">
                      <option value="5" th:text="#{members.member.atc.c1}">C1</option>
                      <option value="4" th:text="#{members.member.atc.s3}">S3</option>
                      <option value="3" th:text="#{members.member.atc.s2}">S2</option>
                      <option value="2" th:text="#{members.member.atc.s1}">S1</option>
                    </select>
                  </div>

                  <div class="col-12 mb-2">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="canTraineesApplyInput" name="canTraineesApply"/>
                      <label class="form-check-label" for="canTraineesApplyInput" th:text="#{portal.events.event.roster.addposition.modal.cantraineesapply}">Can trainees apply</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{portal.events.event.roster.addposition.modal.cancel}">Cancel</button>
                <button type="submit" class="btn btn-primary" th:text="#{portal.events.event.roster.addposition.modal.addposition}">Add position</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal fade" id="addPositionSlotModal" tabindex="-1" aria-labelledby="addPositionSlotModalLabel" style="display: none;" aria-hidden="true" sec:authorize="hasAnyRole('SYS_ADMIN', 'STAFF_DIRECTOR', 'STAFF_EVENTS')" th:if="${!event.isCpt}">
        <form id="addPositionSlotModalForm" method="post">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addPositionSlotModalLabel" th:text="#{portal.events.event.roster.addpositionslots.modal.title}">Add slot to event position</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 mb-2">
                    <div id="addPositionSlotMessage"></div>
                  </div>
                  <div class="col-12 mb-2">
                    <label for="slotsCountInput" class="form-label required" th:text="#{portal.events.event.roster.addpositionslots.modal.slotscount}">Slots count</label>
                    <select id="slotsCountInput" class="form-control" data-choices='{"searchEnabled":false, "itemSelectText":""}' name="slotsCount">
                      <option th:each="i : ${#numbers.sequence(1, 4)}" th:value="${i}" th:text="${i}">1</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{portal.events.event.roster.addpositionslots.modal.cancel}">Cancel</button>
                <button type="submit" class="btn btn-primary" th:text="#{portal.events.event.roster.addpositionslots.modal.addslots}">Add slots</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal fade" id="removeEventPositionModal" tabindex="-1" aria-labelledby="removeEventPositionModalLabel" style="display: none;" aria-hidden="true" sec:authorize="hasAnyRole('SYS_ADMIN', 'STAFF_DIRECTOR', 'STAFF_EVENTS')" th:if="${!event.isCpt}">
        <form id="removeEventPositionModalForm" method="post">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="removeEventPositionModalLabel" th:text="#{portal.events.event.roster.removeposition.modal.title}">Remove position from event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div id="removeEventPositionMessage"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{portal.events.event.roster.removeposition.modal.cancel}">Cancel</button>
                <button type="submit" class="btn btn-danger" th:text="#{portal.events.event.roster.removeposition.modal.removeposition}">Remove position</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal fade" id="approveSlotApplicationModal" tabindex="-1" aria-labelledby="approveSlotApplicationModalLabel" style="display: none;" aria-hidden="true">
        <form id="approveSlotApplicationModalForm" method="post">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" th:text="#{portal.events.event.approve.modal.title}">Approve slot application</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3" th:text="#{portal.events.event.approve.modal.message}">Confirm slot application details before approving.</div>
                <div>
                  <dl>
                    <dt th:text="#{portal.events.event.approve.modal.position}">Position</dt>
                    <dd id="approveSlotApplicationDataPosition"></dd>
                    <dt th:utext="#{portal.events.event.approve.modal.cidname}">CID &amp; name</dt>
                    <dd id="approveSlotApplicationDataCidName"></dd>
                    <dt th:text="#{portal.events.event.approve.modal.timeslot}">Time slot</dt>
                    <dd id="approveSlotApplicationTimeSlot"></dd>
                  </dl>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{portal.events.event.approve.modal.cancel}">Cancel</button>
                <button type="submit" class="btn btn-success" th:text="#{portal.events.event.approve.modal.approve}">Approve application</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal fade" id="rejectSlotApplicationModal" tabindex="-1" aria-labelledby="rejectSlotApplicationModalLabel" style="display: none;" aria-hidden="true">
        <form id="rejectSlotApplicationModalForm" method="post">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" th:text="#{portal.events.event.reject.modal.title}">Reject slot application</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3" th:text="#{portal.events.event.reject.modal.message}">You are about to reject slot application with those details.</div>
                <div class="mb-3">
                  <dl>
                    <dt th:text="#{portal.events.event.reject.modal.position}">Position</dt>
                    <dd id="rejectSlotApplicationDataPosition"></dd>
                    <dt th:utext="#{portal.events.event.reject.modal.cidname}">CID &amp; name</dt>
                    <dd id="rejectSlotApplicationDataCidName"></dd>
                    <dt th:text="#{portal.events.event.reject.modal.timeslot}">Time slot</dt>
                    <dd id="rejectSlotApplicationTimeSlot"></dd>
                  </dl>
                </div>

                <div class="">
                  <label for="rejectReasonInput" class="form-label required" th:text="#{portal.events.event.reject.modal.reason}">Reject reason</label>
                  <textarea id="rejectReasonInput" class="form-control mb-3" name="rejectReason" rows="5" style="min-height: 150px;"
                            th:placeholder="#{portal.events.event.reject.modal.reason.hint}"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{portal.events.event.reject.modal.cancel}">Cancel</button>
                <button type="submit" class="btn btn-danger" th:text="#{portal.events.event.reject.modal.reject}">Reject application</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <script type="text/javascript" th:inline="javascript" sec:authorize="hasAnyRole('SYS_ADMIN', 'STAFF_DIRECTOR', 'STAFF_EVENTS')" th:if="${!event.isCpt}">
        /*<![CDATA[*/
        let removeEventPositionUrl = /*[[@{/portal/events/} + ${eventId} + '/positions/remove']]*/;
                let addPositionSlotUrl = /*[[@{/portal/events/} + ${eventId} + '/positions']]*/;
                let approveRejectSlotApplicationUrl = /*[[@{/portal/events/} + ${eventId} + '/slots']]*/;
                let aux2 = /*[[@{/}]]*/;
        /*]]>*/

        document.getElementById('addPositionSlotModal').addEventListener('show.bs.modal', function (event) {
          let modal = $(event.relatedTarget);
          let eventPositionId = modal.data("event-position-id");
          let addEventPositionSlotMsg = modal.data('add-event-position-slot-msg');

          $("#addPositionSlotMessage").empty().append(addEventPositionSlotMsg);

          $('#addPositionSlotModalForm').attr('action', addPositionSlotUrl + '/' + eventPositionId + '/slots/add');
        });

        document.getElementById('removeEventPositionModal').addEventListener('show.bs.modal', function (event) {
          let modal = $(event.relatedTarget);
          let eventPositionId = modal.data('event-position-id');
          let removeEventPositionMsg = modal.data('remove-event-position-msg');

          $("#removeEventPositionMessage").empty().append(removeEventPositionMsg);

          $('#removeEventPositionModalForm').attr('action', removeEventPositionUrl + '/' + eventPositionId);
        });

        document.getElementById('approveSlotApplicationModal').addEventListener('show.bs.modal', function (event) {
          let modal = $(event.relatedTarget);
          let applicationId = modal.data("application-id");
          let slotId = modal.data("slot-id");
          let position = modal.data("position");
          let userCid = modal.data("user-cid");
          let userName = modal.data("user-name");
          let timeSlot = modal.data("time-slot");

          $("#approveSlotApplicationDataPosition").empty().append(position);
          $("#approveSlotApplicationDataCidName").empty().append(userCid + " - " + userName);
          $("#approveSlotApplicationTimeSlot").empty().append(timeSlot);

          $('#approveSlotApplicationModalForm').attr('action', approveRejectSlotApplicationUrl + '/' + slotId + '/application/' + applicationId + '/approve');
        });

        document.getElementById('rejectSlotApplicationModal').addEventListener('show.bs.modal', function (event) {
          let modal = $(event.relatedTarget);
          let applicationId = modal.data("application-id");
          let slotId = modal.data("slot-id");
          let position = modal.data("position");
          let userCid = modal.data("user-cid");
          let userName = modal.data("user-name");
          let timeSlot = modal.data("time-slot");

          $("#rejectSlotApplicationDataPosition").empty().append(position);
          $("#rejectSlotApplicationDataCidName").empty().append(userCid + " - " + userName);
          $("#rejectSlotApplicationTimeSlot").empty().append(timeSlot);

          $('#rejectSlotApplicationModalForm').attr('action', approveRejectSlotApplicationUrl + '/' + slotId + '/application/' + applicationId + '/reject');
        });
      </script>
    </div>
  </body>
</html>