<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{members.solo.title})}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <div class="mb-3" th:text="#{members.solo.message}">Solo validations aim to give the ATC candidates an opportunity to practice what they've learned throughout the training. The candidates could connect at the approved position and control without being directly supervised by a mentor.</div>

      <div th:if="${soloValidations eq null or soloValidations.data eq null or soloValidations.data.size eq 0}" th:remove="tag">
        <h1 class="h4 mb-3 fst-italic" th:text="#{members.solo.notfound}">No solo validations found</h1>
      </div>

      <table class="table table-striped table-hover" th:if="${soloValidations ne null and soloValidations.data ne null and soloValidations.data.size gt 0}">
        <thead>
          <tr>
            <th scope="col" class="fw-bold" th:text="#{members.solo.name}">Name</th>
            <th scope="col" class="fw-bold" th:text="#{members.solo.vatsimcid}">VATSIM CID</th>
            <th scope="col" class="fw-bold" th:text="#{members.solo.approvedposition}">Approved position</th>
            <th scope="col" class="fw-bold" th:text="#{members.solo.expireson}">Expires on</th>
            <th scope="col" class="fw-bold" th:text="#{members.solo.mentorname}">Mentor name</th>
            <th scope="col" class="fw-bold" th:text="#{members.solo.mentorcid}">Mentor CID</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="sv : ${soloValidations.data}">
            <th scope="row" th:text="${sv.fullName}">Name</th>
            <td>
              <a href="#" th:href="@{/members/} + ${sv.userCid}" target="_blank" class="text-primary"
                 th:text="${sv.userCid}">CID</a>
            </td>
            <td th:text="${sv.position}">Position</td>
            <td th:text="${#dates.format(sv.expiry, 'dd MMMM yyyy')}">Expires on</td>
            <td th:text="${sv.instructorFullName}">Mentor name</td>
            <td>
              <a href="#" th:href="@{/members/} + ${sv.instructorCid}" target="_blank" class="text-primary"
                 th:text="${sv.instructorCid}">Mentor CID</a>
            </td>
          </tr>
          <tr>
            <td colspan="5" class="text-end fw-bold" th:text="#{members.solo.total} + ':'">Total:</td>
            <td class="fw-bold" th:text="${soloValidations.data.size}">1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>