<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{members.staff.title})}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="fw-bold" th:text="#{members.staff.name}">Name</th>
            <th scope="col" class="fw-bold" th:text="#{members.staff.callsign}">Callsign</th>
            <th scope="col" class="fw-bold" th:text="#{members.staff.position}">Position</th>
            <th scope="col" class="fw-bold" th:text="#{members.staff.vatsimcid}">VATSIM CID</th>
            <th scope="col" class="fw-bold" th:text="#{members.staff.email}">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="s : ${roster.data.staff[0]}">
            <th scope="row" th:text="${s.fullName ne null} ? ${s.fullName} : '-'">Name</th>
            <td scope="row" th:text="${s.nameShort} ? ${s.nameShort} : '-'">CID</td>
            <td scope="row" th:text="${s.name} ? ${s.name} : '-'">Position</td>
            <td scope="row">
              <a href="#" th:href="@{/members/} + ${s.cid}" class="text-primary"
                 th:text="${s.cid} ? ${s.cid} : '-'">VATSIM CID</a>
            </td>
            <td scope="row">
              <a th:if="${s.email ne null}" href="#" th:href="'mailto:' + ${s.email}" class="text-primary"
                 th:text="${s.email}">Email</a>
              <span th:if="${s.email eq null}">-</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>