<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{members.trainingstaff.title})}">BGvACC</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="fw-bold" th:text="#{members.trainingstaff.name}">Name</th>
            <th scope="col" class="fw-bold" th:text="#{members.trainingstaff.vatsimcid}">VATSIM CID</th>
            <th scope="col" class="fw-bold" th:text="#{members.trainingstaff.rating}">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="ts : ${trainingStaff.data}">
            <td th:text="${ts.fullName}">Name</td>
            <td scope="row">
              <a href="#" th:href="@{/members/} + ${ts.cid}" class="text-primary"
                 th:text="${ts.cid} ? ${ts.cid} : '-'">VATSIM CID</a>
            </td>
            <td th:text="#{members.member.atc. + ${#strings.toLowerCase(ts.atcRatingSymbol)}}">Rating</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>